[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon=/opt/jetbrains_rider/bin/rider.svg
Exec="/opt/jetbrains_rider/bin/rider.sh" %f
Comment=A cross-platform IDE for .NET
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
